button {
  padding: 0.5em 1em;
  border: 1px solid #333;
  background-color: transparent;
  cursor: pointer;
}

header,
main,
footer,
section,
form {
  padding: 1rem;
}

input,
textarea {
  appearance: none;
  border: 1px solid #333;
  padding: 0.3em 1em;
}

select {
  border: 1px solid #333;
  padding: 0.3em 1em;
}
